version: '2'

networks:
   was9:
#     # driver: bridge
     external: true

services:

  wasnd_install_step1:
    image: was9_delete_me
    hostname: was
    build:
      context: ./install
      dockerfile: Dockerfile.v9.prereq
      args:
        user: wasadmin
        group: wasadmin
        URL: http://192.168.99.100:8080/WASND
        REPOS: http://192.168.99.100:8080/WASND/9000/BASE,http://192.168.99.100:8080/WASND/9009,http://192.168.99.100:8080/WASND/JDK-80522
        WXS_SERVER_VERSION: com.ibm.websphere.WXS.was8.v86
        WXS_CLIENT_VERSION: com.ibm.websphere.WXSCLIENT.was8.v86
        WXS_SERVER_FIX_LIST: "8.6.1.2-WS-WXSAll-IFPI88192_8.6.1002.20171001_2326"
        WXS_CLIENT_FIX_LIST: "8.6.1.2-WS-WXSAll-IFPI88192_8.6.1002.20171001_2326"
        WXS_REPOS: http://192.168.99.100:8080/WASND/WXS_8610/,http://192.168.99.100:8080/WASND/WXS_8612/,http://192.168.99.100:8080/WASND/WXS_WAS_8612/,http://192.168.99.100:8080/WASND/WXS_WAS_CLIENT_8612/,http://192.168.99.100:8080/WASND/WXS_WAS_FIXES/8.6.1.2-WS-WXSAll-IFPI88192.zip
    networks:
      - was9

  wasnd_install_step2:
    image: wasnd9-noprofile
    hostname: dmgr
    build:
      context: ./install
      dockerfile: Dockerfile.v9.install
      args:
        WASVERSION: 9.0.0.9
        user: wasadmin
        group: wasadmin
    networks:
      - was9


  dmgr:
    image: wasnd9-dmgr
    container_name: dmgr
    hostname: dmgr
    build:
      context: ./dmgr
      dockerfile: Dockerfile.was9
      args:
        PROFILE_NAME: Dmgr01
        CELL_NAME: DefaultCell
        NODE_NAME: ManagerNode
    # environment:
    #   DUMMY: test
    expose:
      - "9060"
      - "9043"
      - "9809"
      - "8879"
      - "9632"
      - "9401"
      - "9403"
      - "9402"
      - "9100"
      - "7277"
      - "9352"
      - "5555"
      - "7060"
      - "11005"
      - "11006"
      - "9420"
    ports:
      - "9060:9060"
      - "9043:9043"
    volumes:
      - $PRJ_ROOT/wasconfig:/wasconfig:rw
    networks:
      - was9

  node01:
    image: wasnd9-node01
    container_name: node01
    hostname: node01
    build:
      context: ./custom
      dockerfile: Dockerfile.was9
      args:
        PROFILE_NAME: Custom
    environment:
      NODE_NAME: Node01
      DMGR_HOST: dmgr
      DMGR_PORT: "8879"
    expose:
      - 2809
      - 9402
      - 9403
      - 9353
      - 9633
      - 9100
      - 11004
      - 11003
      - 9401
      - 7276
      - 7286
      - 5558
      - 5578
      - 5060
      - 5061
      - 8880
      - 9060
      - 9043
      - 9080
      - 9443
    networks:
     - was9

  node02:
    image: wasnd9-node02
    container_name: node02
    hostname: node02
    build:
      context: ./custom
      dockerfile: Dockerfile.was9
      args:
        PROFILE_NAME: Custom
    environment:
      NODE_NAME: Node02
      DMGR_HOST: dmgr
      DMGR_PORT: "8879"
    expose:
      - 2809
      - 9402
      - 9403
      - 9353
      - 9633
      - 9100
      - 11004
      - 11003
      - 9401
      - 7276
      - 7286
      - 5558
      - 5578
      - 5060
      - 5061
      - 8880
      - 9060
      - 9043
      - 9080
      - 9443
    networks:
      - was9
