ansible-core>=2.15,<2.16
argcomplete # shell completion of the Ansible command line utilities
cryptography >= 3.0
ipaddress
jmespath
jsonpatch
kubernetes>= 12.0.0
openshift
prettytable
pypsrp
PyYAML >= 3.11
requests >= 1.1
urllib3
websocket-client >= 1.0.0
cowsay